<div class="container col-lg-12 col-md-12 col-sm-12 " >
  <div class="row bg-white">
    <footer class="footer">
      <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
          <h3><a href="#">TEMP<span>astro</span></a></h3>
          <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a></p>
          <p class="company-name">TEMPASTRO.COM © 2020</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
          <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
            <p><span class="new-line-span">Via indipendenza</span>Veneto, ITALY</p>
          </div>
          <div><i class="fa fa-phone footer-contacts-icon"></i>
            <p class="footer-center-info email text-left"> 3460186246</p>
          </div>
          <div><i class="fa fa-envelope footer-contacts-icon"></i>
            <p> <a href="#" target="_blank">n.buffo89@gmail.com</a></p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
          <h4>About project</h4>
          <p>Tempastro.com è un sito realizzato con Angular CLI</p>
          <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
      </div>
    </footer>
  </div>
</div>



