<div class="container col-12 bg-white m-0 p-0" style="">
  <div class="row" >
    <ngb-carousel class="col-sm-12 col-md-12 col-lg-12 " style="">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
          <img class="d-block img-fluid" [src]="image.link" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{image.name}}</h3>
          <p>{{image.descr}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
