<div class="container-fluid p-5">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-3 mb-lg-0">
      <div class="border rounded">
        <div class="d-flex border-bottom p-3 w-100 align-items-center">
          <h3 class="h5 mr-auto mb-0">Chrome</h3>
          <p class="badge badge-success mb-0">2020</p>
        </div>
        <p class="px-3 pt-4 h3">200 milioni</p>
        <div class="d-flex px-3 w-100">
          <p class="mr-auto">Percentuale Utilizzo</p>
          <p class="text-success d-flex align-items-center"> 68%</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-3 mb-lg-0">
      <div class="border rounded">
        <div class="d-flex border-bottom p-3 w-100 align-items-center">
          <h3 class="h5 mr-auto mb-0">Edge</h3>
          <p class="badge badge-success mb-0">2020</p>
        </div>
        <p class="px-3 pt-4 h3">80 milioni</p>
        <div class="d-flex px-3 w-100">
          <p class="mr-auto">Percentuale Utilizzo</p>
          <p class="text-success d-flex align-items-center">10.3%</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="border rounded">
        <div class="d-flex border-bottom p-3 w-100 align-items-center">
          <h3 class="h5 mr-auto mb-0">Firefox</h3>
          <p class="badge badge-danger mb-0">2020</p>
        </div>
        <p class="px-3 pt-4 h3">70 milioni</p>
        <div class="d-flex px-3 w-100">
          <p class="mr-auto">Percentuale Utilizzo</p>
          <p class="text-danger d-flex align-items-center">7.2 %</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-3 mb-lg-0">
      <div class="border rounded">
        <div class="d-flex border-bottom p-3 w-100 align-items-center">
          <h3 class="h5 mr-auto mb-0">Altri</h3>
          <p class="badge badge-success mb-0">2020</p>
        </div>
        <p class="px-3 pt-4 h3">120 milioni</p>
        <div class="d-flex px-3 w-100">
          <p class="mr-auto">Percentuale Utilizzo</p>
          <p class="text-success d-flex align-items-center"> 15 %</p>
        </div>
      </div>
    </div>

  </div>
</div>
