.my-gig-title{
  font-family: 'Allerta Stencil';
  font-family: 'Gruppo';
  font-size: max(60px, 30px);
}
.my-subgig-title{
  font-family: 'Gruppo';
  font-size: max(20px, 10px);
  bottom   : 0;
  float: right;

}
