
<div class="container mr-2 col-12 pt-3">
  <div id="" class="row col-12 bg-transparent text-white">

  <div class="col-lg-4 offset-lg-8 col-sm-12 offset-sm-0">
    <span class="my-subgig-title text-right pl-0 ml-0">Miscellaneous di esperimenti e sviluppo</span>
  </div>
  </div>
  <div id="intro" style="text-align: end">
    <ul class="list-inline">
      <li class="list-inline-item p-3 m-2" *ngFor="let icon of iconsp" >
        <!-- <img src="http://placehold.it/150x100" class="img-responsive inline-block" alt="Responsive image" /> -->
        <a href="{{icon.navigLink}}" target="_blank" style="position: absolute">
          <img class="rounded-circle" src="{{icon.link}}" alt="" height="30" width="30" appZoom>
        </a>
      </li>
    </ul>
  </div>

</div>


