
<div class="container mr-2 col-12 pt-3">
  <div id="" style="text-align: start" class="pl-1 text-white">
  <h1 class="my-gig-title" style="">Tempastro</h1>
  <p class="pl-5 text-right my-subgig-title">Miscellaneous di esperimenti e sviluppo</p>
  </div>
  <div id="intro" style="text-align: end">
    <ul class="list-inline">
      <li class="list-inline-item p-3 m-2" *ngFor="let icon of iconsp" >
        <!-- <img src="http://placehold.it/150x100" class="img-responsive inline-block" alt="Responsive image" /> -->
        <a href="{{icon.navigLink}}" target="_blank" style="position: absolute">
          <img class="rounded-circle" src="{{icon.link}}" alt="" height="30" width="30" appZoom>
        </a>
      </li>
    </ul>
  </div>

</div>


