<head>
  <!--<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'> -->
  <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
</head>

  <div class="container col-lg-12 col-sm-12" class="MyBg" style="min-height: 250px;">

    <div class="col-sm-12 col-lg-4 my-gig-title" style="font-max-size: 150px; font-min-size: 80px;">Tempastro</div>
          <ul ngbNav #nav="ngbNav" class="jumbotron-fluid nav-tabs m-0 border-0" style="min-height: 120px;">
            <li ngbNavItem>
              <div class="nav-item my-nav-item">
                <a ngbNavLink class="bg-transparent border-0 text-white">Home</a>
              </div>
              <ng-template ngbNavContent>
                <app-carousel></app-carousel>
                <app-valuebox></app-valuebox>
                <div class="MyBg col-12" style="min-height:100px; padding-bottom: 30px;"></div>
                <app-shell> </app-shell>
                <div class="MyBg col-12" style="min-height:250px;padding-bottom: 30px;"></div>
                <app-citations> </app-citations>
              </ng-template>
            </li>

            <li ngbNavItem>
              <div class="nav-item my-nav-item">
                <a ngbNavLink class="bg-transparent border-0 text-white">Mie Esperienze</a>
              </div>
              <ng-template ngbNavContent>
                 <app-my-exp> </app-my-exp>
              </ng-template>
            </li>
          </ul>
    <app-listbaseskills></app-listbaseskills>
    <div class="container">
      <div class="row" style="min-height: 10px;">
      </div>
    </div>
  </div>

<div class="col-lg-12 col-md-12 col-sm-12 bg-transparent p-0" style="min-height: 200px;">
  <div [ngbNavOutlet]="nav" class="bg-transparent"></div>
</div>



<div class="MyBg" style="padding-top: 50px; padding-bottom: 30px;">





  <app-footer ></app-footer>
</div>


