<div class="container m-0 col-12" style="margin-bottom: 0px;">

  <div id="" class="text-center pt-1" style="padding-top: 0px;">
    <hr />
    <h3 class="p-2" style="">Alcuni miei esperimenti</h3>
    <p class="text-center"></p>
  </div>
  <hr />
  <div class="row card-deck pb-5 m-0">
        <div class="card-group text-dark bg-light offset-lg-1 col-lg-10 bg-white">
          <div class="col-sm-12 col-md-6 col-lg-4 m-0 p-0" *ngFor="let link of links">
          <div class="card">
            <div class="card-body p-1">
              <h5 class="card-title">
                <div class="card-img text-center">
                <img class="img-fluid " src="{{link.image}}">
                </div></h5>
              <div class="bg-info card-header text-center mb-1" style="font-size: 18px;font-family: 'Allerta Stencil';">
                <a href="{{link.link}}" target="_blank" rel="noopener noreferrer" class="text-white" name="{{link.id}}">{{link.name}} - Visita</a>
              </div>
              <ul class="list-group list-group-horizontal align-content-end">
                <li class="list-group-item col-12 text-right ">
                  <img class="ml-2"  src="{{imgFrm}}" height="18" width="18" *ngFor="let imgFrm of link.component.frm">
                  <img class="ml-2"  src="{{imgFrm}}" height="18" width="18" *ngFor="let imgFrm of link.component.db">
                  <img class="ml-2" src="{{imgFrm}}" height="18" width="18" *ngFor="let imgFrm of link.component.lang">
                </li>
              </ul>
            </div>
            <div class="card-footer">
              {{link.descr}}
            </div>
          </div>
          </div>
        </div>
  </div>
</div>










